.page{
    .sideBar{
        position: fixed;
        top: 0;
        left: 0;
        background-color: #ccc;
        padding: 15px;
        width: 250px;
        height: 100vh;
        transition: all .4s ease-in-out;
        &.hide_menu{
            left: -250px;
        }
    }
}