-var  pageName = "dashboard"
<!DOCTYPE html>
html(lang="en")
    head
        include pug/layout/meta
        include pug/layout/links
    body
        .page
            include pug/compenant/sidebar
            include pug/compenant/settingSide
            .content_area.hide_menu
                include pug/layout/header
                .container
                    h1.myTitle #{pageName}
        include pug/layout/scripts
