-var  pageName = "dashboard"
<!DOCTYPE html>
    head(lang="en")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-with , initial-scale=1.0")
        title #{pageName}
        include pug/layout/links
    body
        .page
            include pug/layout/sidebar
            .content_area
                include pug/layout/header
                h1 #{pageName}
        include pug/layout/scripts
